.place__trash_type_active {
  display: block;
  background-image: url(../../../../images/trash.png);
  border: none;
  width: 22px;
  height: 25px;
  background-size: cover;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
}

.place__trash_type_active:hover {
  cursor: pointer;
  opacity: .6;
  transition: opacity .2s ease-out;
}
