/* .header__auth-container_logged {

} */

@media screen and (max-width: 540px) {
  .header__auth-container_logged {
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
    border-bottom: 1px solid #545454;
  }
}