.place-grid__places {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(246px, 1fr));
  gap: 20px 17px;
}

@media screen and (max-width: 880px) {
  .place-grid__places {
    gap: 20px 10px;
    margin: 0 5px;
  }
}

@media screen and (max-width: 768px) {
  .place-grid__places {
    gap: 20px 17px;
    max-width: 95%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 540px) {
  .place-grid__places {
    max-width: 90%;
    row-gap: 30px;
  }
}

@media screen and (max-width: 475px) {
  .place-grid__places {
    margin: 0 calc((100% - 282px) / 2);
    row-gap: 20px;
  }
}
