.profile__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px 0 50px;
}

@media screen and (max-width: 768px) {
  .profile__container {
    margin: 42px 0 30px;
  }
}

@media screen and (max-width: 540px) {
  .profile__container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
  }
}
